* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f2f1f1;
}

header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://media.architecturaldigest.com/photos/5d35d6f183971c0008b2066b/16:9/w_2240,c_limit/Sunset%20over%20downtown%20Austin%20skyline-2.jpg') no-repeat center center/cover;
    color: rgb(255, 255, 255);
    padding: 6rem 2rem 4rem;
    text-align: center;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 1 rem;
}

header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
    margin-bottom: 1rem;
}

nav {
    background-color: #3f4593;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    position: sticky;
    top:0;
    z-index: 100;
    text-align: justify;
}

.nav-div-container{
    max-width:1200px;
    margin:0 auto;
    padding:0 2rem;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

nav ul li {
    margin:0;
}

nav ul li a {
    display:block;
    color:white;
    text-decoration: none;
    padding:1rem 1.5rem;
    font-size:1.1rem;
}

nav ul li a:hover {
    background-color: rgba(255, 202, 202, 0.05);
    border-radius: 6px;
}

h1, h2 {
    text-align: center;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
}

section + div {
    display: flex
}

.attraction{
    padding: 1rem;
}

.attraction img {
    padding: 1rem 0.5rem 0.1rem 0rem;
}

.event {
    padding: 1rem 0.5rem 1rem 0rem;
    display: flex;
    flex-flow: column;
}
.event p {
    font-size: 0.85rem;
}

#eventsguide {
    
}